.custom {
    margin-left: 30px;
}

.custom-nav {
    background-color: black;
}

.custom-nav .navbar-nav .nav-link {
    color: white;
    /* Cor do texto */
}

/* Adicionando a cor EE5007 */
.custom-nav .navbar-nav .nav-link.custom-color {
    color: #EE5007;
}

.custom-button {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #EE5007;
}
.showname{
    font-size: 22px;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
} 
.descricao {
    font-size: 22px;
    text-align: start;
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 120px;
}
.imagem {
    width: 65%; 
    height: auto;
    display: block;
    margin: auto;
    margin-bottom:30px ;
}
.linha-horizontal{
    
    border: 1px solid #000;
    width: 90%;
    margin: auto; /* Centraliza a linha horizontal */
    margin-bottom: 20px;
}
#btn2, #btn1 {
    width: 45%; /* Distribui igualmente a largura entre os botões */
    margin-right: 1px; /* Adiciona uma pequena margem à direita para separar os botões */
}
.btn-custom {
    background-color: #EE5007; /* Cor de fundo personalizada */
    color: white; /* Cor do texto */
    border: none; /* Removendo a borda padrão */
}
.btn-custom:hover {
    background-color: #ff6d00; /* Cor de fundo personalizada no hover */
}