<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Revender Ingresso</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-icons.css" rel="stylesheet">
    <link href="../css/templatemo-festava-live.css" rel="stylesheet">
    <link href="../css/revenderingresso.css" rel="stylesheet">
    
    <style>
        body, html {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .container {
            flex: 1;
        }
        .site-footer {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
            margin-top: auto;
        }
        .site-footer-bottom {
            background-color: #000; /* Fundo preto */
            color: #fff; /* Texto branco */
            padding: 10px 0;
        }
        .site-footer-links .site-footer-link {
            color: #fff; /* Cor do texto branco */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand custom" href="homeuser.html">
                Sextou
            </a>
        </div>
    </nav>

    <h3 class="text-center mt-4">Revender</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <div id="card" class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">DJ Betim - Chalezinho</h5>
                        <p class="card-text">Preço de Revenda: R$ 70</p>
                        <p class="card-text">Contato: 3198299-8604</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">Sextou</h2>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-apple"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-youtube"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-pinterest"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mt-3 mt-lg-0">
                        <p class="copyright-text">Copyright © 2024 Sextou</p>
                    </div>
                    <div class="col-lg-9 col-12">
                        <ul class="site-footer-links d-flex justify-content-lg-end">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link text-white">Termos &amp; Condições</a>
                            </li>
                            <li class="site-footer-link-item ml-lg-3">
                                <a href="#" class="site-footer-link text-white">Política de Privacidade</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
